html,
body {
  height: 100%;
}

.content {
  min-height: calc(100vh - 50px);
}

.nav__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
  padding: 10px;
  background: -webkit-linear-gradient(180deg, rgb(236, 129, 9), rgb(30, 30, 29) 50%, rgb(242, 246, 0) 100%);
  background: -moz-linear-gradient(180deg, rgb(236, 129, 9), rgb(30, 30, 29) 50%, rgb(242, 246, 0) 100%);
  background: linear-gradient(180deg, rgb(236, 129, 9), rgb(30, 30, 29) 50%, rgb(242, 246, 0) 100%);
  box-shadow: 0px 0px 3px 3px rgba(230, 255, 2, 0.4);
}

.logo {
  padding: 5px;
}

.gallery__container {
  position: relative;
  margin: 100px auto;
}

img:hover {
  cursor: pointer;
}

.search-form {
  margin: 0px 15px;
  display: flex;
  // width: 100%;
  justify-content: center;
}

.button-21 {
  align-items: center;
  appearance: none;
  background-color: #fd6804;
  border-radius: 3px;
  border-width: 0;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(236, 102, 46, 0.8);
  -moz-box-shadow: 0px 0px 3px 3px rgba(236, 102, 46, 0.8);
  box-shadow: 0px 0px 3px 3px rgba(236, 102, 46, 0.8);
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, background-position 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
  background-color: rgb(0, 0, 0);
  color: rgb(235, 252, 4);
}

.button-21:focus:not(:active) {
  box-shadow: 0px 0px 3px 3px rgba(235, 116, 5, 0.8);
}

.searchInput {
  width: 80%;
  padding: 10px;
  border: none;
  box-shadow: 0px 0px 3px 3px rgba(236, 102, 46, 0.8);
  border-radius: 3px;
}

.searchInput:hover {
  box-shadow: 0px 0px 30px 6px rgba(236, 102, 46, 0.6);
}

.searchInput:focus {
  outline: 1px solid #da5903;
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 0.125em;
}

.loadBtn {
  width: 170px;
  margin: 50px auto;
  display: none;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(230, 255, 2, 0.4);
  -moz-box-shadow: 0px 0px 3px 3px rgba(230, 255, 2, 0.4);
  box-shadow: 0px 0px 3px 3px rgba(230, 255, 2, 0.4);
}

.is-hidden {
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  margin: 0 auto;
  justify-content: space-between;
}
.photo-card {
  width: 240px;
  display: inline-block;
  margin: 40px 40px 0 0;
  height: 200px;
}
.photo {
  width: 100%;
  height: 160px;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(34, 60, 80, 0.4);
  -moz-box-shadow: 0px 0px 3px 3px rgba(34, 60, 80, 0.4);
  box-shadow: 0px 0px 3px 3px rgba(34, 60, 80, 0.4);
}

.stats {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 10px;
}
.material-icons {
  display: block;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  height: 40px;
  padding: 10px;
  background: -webkit-linear-gradient(180deg, rgb(242, 246, 0), rgb(255, 255, 255) 50%, rgb(236, 129, 9) 100%);
  background: -moz-linear-gradient(180deg, rgb(242, 246, 0), rgb(255, 255, 255) 50%, rgb(236, 129, 9) 100%);
  background: linear-gradient(180deg, rgb(242, 246, 0), rgb(255, 255, 255) 50%, rgb(236, 129, 9) 100%);
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 3px 3px rgba(230, 255, 2, 0.4);
}

/* WebCamera */
.booth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.booth-capture-button {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
}

#canvas {
  display: none;
}

.cam {
  width: 40px;
  height: 30;
}